body {
    background-image: url("../img/bg-img.jpg");
    font-size: 1.2em;
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
}
main {
    color: white;
    min-height: 100vh;
}
nav {
    padding: 0.5rem 0.75rem;
    z-index: 10;
}
#main-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
#sub-container {
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#burger {
    display: block;
    padding-right: 0.25rem;
}
#burger > svg {
    fill: currentColor;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
}
#main-container > li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#burger-menu {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    color: #fff;

}
#search-input {
    border-radius: 0.25rem;
    padding: 0.25rem;
}
#search-button {
    padding: 0.25rem 1rem;
    background-color: #f6ad55;
    border-radius: 0.5rem;
}
.navbar-dark {
    background-color: #222422;
}
.navbar-collapse {
    flex-flow: row-reverse;
    justify-content: space-around;
}
.right {
    float: right;
}
header ul li {
    float: right;
    margin-right: 20px;
}
.slideshow {
    display: block;
    margin: 0 10%;

}
.mySlides {
    display: none
}
.w3-badge {
    height:15px;
    width:15px;
    padding:0;
    cursor:pointer
}
.container1 {
    border-radius: 10px;
    color: #fff;
    margin: 100px 10% 0 10%;
}
.container2 {
    border-radius: 10px;
    margin: 0 1%;
    color: #fff;
    text-align: center;
}
.row-grid {
    background-color: #363836;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    height: 300px;
    width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.row-grid img {
    border-radius: 10px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.row-grid a:hover {
    text-decoration: none;
    color: red;
}
.moreMovies {
    margin: 0 10%;
    background-color: #363836;
    color: white;
    width: 80%;
}
.more:hover {
    text-decoration: none;
    color: red;
}
.footer {
    margin-top: 50px;
    padding: 1.5em 0 1em 0em;
    margin-bottom: 0em;
    text-align: center;
    background-color: #222422;
    color: white;
}
@media screen and (min-width: 300px) {
    .row-grid1 {
        display: none;
    }
    .row-grid2 {
        display: none;
    }
    .row-grid-last {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .slideshow {
        display: block;
        max-width: 900px;
        margin: 100px 5%;
    }
}
@media screen and (min-width: 1070px) {
    .row-grid1 {
        display: none;
    }
    .row-grid2 {
        display: none;
    }
    .row-grid-last {
        display: none;
    }
    .container1 {
        margin: 100px 10%;
    }
}
@media screen and (min-width: 1200px) {
    .slideshow {
        max-width: 1200px;
        margin: 0 15%;
    }
    .container1 {
        margin: 100px;
    }
    .row-grid1 {
        display: flex;
    }
    .row-grid2 {
        display: flex;
    }
}
@media screen and (min-width: 1290px) {
    .container1 {
        margin: 100px 5%;
    }
}
@media screen and (min-width: 1434px) {
    .container1 {
        margin: 100px 12%;
    }
}
@media screen and (min-width: 1698px) {
    nav {
        font-size: 2em;
    }
    .row-grid, .row-grid1, .row-grid2 {
        height: 450px;
        width: 280px;
    }
    .row-grid img, .row-grid1 img, .row-grid2 img {
        width: 250px;
    }
    .container1 {
        margin: 100px;
    }
}
@media screen and (min-width: 1770px) {
    .container1 {
        margin: 0 8%;
    }
    .slideshow {
        max-width: 1300px;
        margin: 100px 15%;
    }
}
@media screen and (min-width: 2000px) {
    .slideshow {
        max-width: 1700px;
        margin: 0 15%;
    }
    .row-grid, .row-grid1, .row-grid2  {
        background-color: #363836;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        height: 550px;
        width: 350px;
        flex-direction: column;
        text-align: center;
        font-size: 2em;
    }
    .row-grid img, .row-grid1 img, .row-grid2 img {
        border-radius: 10px;
        width: 300px;
        margin-top: 10px;
    }
    .container1 {
        margin: 100px;
    }
}
@media screen and (min-width: 2190px) {
    .container1 {
        margin: 100px 8%;
    }
}
@media screen and (min-width: 2560px) {
    .slideshow {
        max-width: 2300px;
        margin: 0 15%;
    }
    .sep {
        height: 200px;
    }
    .container1 {
        margin:100px 10%;
    }
    .row-grid, .row-grid1, .row-grid2 {
        height: 600px;
        width: 350px;
    }
    .row-grid img, .row-grid1 img, .row-grid2 img {
        margin-top: 20px;
    }
}
